body {
    padding: 20px;
    background-color: beige;
    font-size: large;
    line-height: 1.2;
}

h1{
  font-size: larger;
  text-align: center;
  font-weight: bolder;
  margin-top: 15px;
  
}

ul{
  display:flex;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;

}
a.skip{
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  position: absolute;
  left: -400px;
  top: -200px;
}

a.skip:focus{
  left: 0px;
  top: 20px;
}

h1 {
    font-family: "Sofia", sans-serif;
    color:black;
}

div{
  border:#333 solid 1px;
  border-radius: 5px;
  display:flex;
  flex-direction: column;

}
p{
    padding: 6px;
    /* margin-top: 5px; */
    text-align: left;

}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
/* li {
    float: right;
  } */
  
/* li:nth-child(2){
  border

} */

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover{
    background-color: #111;
  }


li a.current{
    font-size: large;
    text-decoration:  underline;
    text-underline-offset: 4px;
    text-transform: uppercase;
    text-decoration-color: white;
    background-color: black;
    /* Set text decoration, transformation, and underline properties */
}



img{
  width: 85vw;
  align-self: center;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 2px;
}

/* main img:nth-child(2n){

} */
/* this is not working, is that because the img don't share the same parent div?  */



img:hover{
  border: 5px solid black;
}

img#about{
  display: none;
}

dt{
  padding-top: 3px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: monospace;
  font-size: 24px;
  /* text-decoration: underline; */
  /* text-underline-offset: 7px; */
  /* border-top: 3px solid #333; */
  
}


h2{
  font-family: monospace;
  font-weight: 600;
  font-size: x-large;
  text-align: center;
  border-top: 3px solid #333;
  padding-top: 12px;
  width: 100vw;
  position:relative;
  left:-20px;

  margin-top: 20px;
}

h3{
  font-size: large;
  font-weight: bold;
}

div ul{
  display: flex;
  flex-direction: column;
}

div li{
  color:beige;
  padding:1px 6px 1px 6px;
  margin:4px 3px 0px 3px;

  background-color: #555;
  border-radius: 8px;
  
}

footer{
  margin-top: 10px;
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}
footer p{
  font-size: small;
  line-height: 1;
  padding:2px;
}
footer a{
  font-size: medium;
}


/* dd{
  display: flex;
  flex-direction: row;
} */

dl p{
  padding: 0px;
  grid-column: 2 / 3;


}

dl div{
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: auto auto auto;
  column-gap: 8px;
  row-gap: 10px;
  font-size: medium;
  border-top: #333 solid 2px;
  border-radius: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

dl dt{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

dl dd{
  grid-column: 1 / 2;
  /* border-bottom: solid 1px #333; */
}


div.disclaimer{
  color:beige;
  padding:0px 6px 0px 6px;
  margin:4px 3px 0px 3px;
  font-size: small;

  background-color: #555;
  border-radius: 8px;
}


