body {
    padding: 20px;
    background-color: beige;
    font-size: 125%;
    line-height: 1.2;
}

a.skip{
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  position: absolute;
  left: -400px;
  top: -200px;
}

a.skip:focus{
  left: 0px;
  top: 20px;
}

h1 {
    font-family: "Sofia", sans-serif;
    color:black;
}

p{
    border: 0.5px solid peru;;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li {
    float: right;
  }
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover{
    background-color: #111;
  }


li a.current{
    font-size: large;
    text-decoration: wavy underline;
    text-underline-offset: 4px;
    text-transform: uppercase;
    text-decoration-color: white;
    /* Set text decoration, transformation, and underline properties */
}


img{
  display: block;
  width:300px;
  padding: 5px;
  margin: 10px 10px 0px 10px;
  border-radius: 20px;
}

img:nth-child(2n){
  
  width:400px;
  padding: 5px;
  margin: 10px 10px 0px 10px;
  border-radius: 50px;
}

img:hover{
  border: 5px solid black;
}